Django>=4.2
uvicorn
gunicorn
psycopg2-binary
redis
boto3
celery
django-storages
django-redis
dj-database-url
pillow
stripe
pydantic
graphql-core
graphql-relay
pyjwt
requests
babel
pygments
pytz
phonenumbers
pycountry
django-environ
pillow-heif
