Django>=4.2
uvicorn
gunicorn
psycopg2-binary
redis
boto3
celery
django-storages
django-redis
dj-database-url
dj-email-url
django-cache-url
pillow
stripe
pydantic
graphql-core
graphql-relay
pyjwt
requests
babel
pygments
pytz
phonenumbers
pycountry
django-environ
pillow-heif
django-allauth
django-cors-headers
django-extensions
django-filter
django-prices
django-prices-openexchangerates
django-templated-email
django-webpack-loader
sentry-sdk
social-auth-app-django
